@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,700;1,400&family=Open+Sans:wght@300;400;600&display=swap');

$lightGray: #f9f9f9;
$gray: #efefef;
$blue: #349edc;

$headerHeight: 70px;

$border: 1px solid $gray;

body {
  position: fixed;
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  display: flex;
}

div::-webkit-scrollbar {
  display: none;
}

[contenteditable=true]:empty::before {
  content: attr(placeholder);
}

input[type=text] {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;

  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;

  outline: 0;
}

button {
  outline: 0;
}

a, a:visited {
  color: black;
}

video{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

video.reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.popup{
  display: none;

  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 2;

  button{
    position: absolute;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    background: none;
    border: 0;

    color: white;
    font-size: 2em;

    z-index: 3;
  }

  video{
    width: 100%;
    height: 100%;

    background-color: black;
    object-fit: contain;
  }
}

.chat-button{
  display: none;
}

.left-wrapper {
  flex-grow: 1;
  width: 55%;
  height: 100%;

  border-right: 1px solid $gray;
  background-color: white;

  display: flex;
  flex-direction: column;

  .header {
    flex-shrink: 0;

    width: 100%;
    height: $headerHeight;
    padding: 0 20px;

    box-sizing: border-box;

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.6em;

    border-bottom: 1px solid $gray;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    .notification{
      display: none;
    }
  }

  .video-wrapper {
    flex-grow: 1;
    position: relative;

    width: 100%;
    height: calc(68% - #{$headerHeight});

    background-color: black;

    border-bottom: $border;
    box-sizing: border-box;

    .other-stream {
      display: none;

      width: 100%;
      height: 100%;

      background-color: black;

      object-fit: contain;
    }

    .my-stream {
      display: none;

      position: absolute;
      left: 20px;
      bottom: 20px;

      max-width: 260px;
      max-height: 130px;

      border: 2px solid white;
      box-sizing: border-box;
      background-color: black;

      object-fit: contain;
    }

    .call-button-wrapper{
      position: absolute;
      bottom: 0px;

      height: 80px;
      width: 100%;

      padding: 0 20px 20px 0;

      box-sizing: border-box;

      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      .controll-button{
        height: 40px;
        width: 40px;

        margin: 0 5px;

        border: 0;
        border-radius: 100%;
        background-color: white;

        color: black;
        font-size: 1.4em;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      .controll-button:first-child{
        margin-left: 0;
      }

      .controll-button:last-child{
        margin-right: 0;
      }

      .controll-button.red{
        background-color: #e22d3d;
        color: white;
      }

      .controll-button.green{
        background-color: forestgreen;
        color: white;
      }
    }
  }

  .footer {
    width: 100%;
    height: 32%;

    background-color: #f9f9f9;

    .navbar {
      width: 100%;
      height: 60px;

      padding: 0 20px;

      box-sizing: border-box;

      border: 0;

      overflow-y: scroll;
      -ms-overflow-style: none;

      display: flex;
      justify-content: space-between;

      span {
        margin: auto 0;

        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.5em;
        text-transform: capitalize;
      }

      .button-wrapper {
        height: 100%;

        display: flex;

        button {
          width: auto;
          height: 30px;

          padding: 3px 12px;

          margin: auto 10px;

          border: 0;
          border-radius: 15px;
          background-color: #b3b3b3;

          color: white;
          font-weight: 400;
          text-transform: uppercase;
        }

        button.selected {
          background-color: #1a2831;
        }
      }
    }

    .content {
      width: 100%;
      height: calc(100% - 60px);

      box-sizing: border-box;

      overflow-y: scroll;
      -ms-overflow-style: none;

      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .box-wrapper {
        max-width: 400px;

        margin: 15px;
        padding: 20px;

        background-color: white;
        border: 1px solid #dadada;
        box-sizing: border-box;

        h1, h2, h3{
          margin-top: 0;
        }

        p {
          line-height: 1.2em;

          b {
            font-weight: 600;
          }
        }

        p:last-child{
          margin-bottom: 0;
        }

        button {
          height: 35px;
          width: 35px;

          margin-left: 7px;

          border: 0;
          border-radius: 100%;
          background: $blue;

          color: white;
          font-size: 1.2em;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.right-wrapper {
  width: 45%;
  height: 100%;

  background-color: white;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  .header {
    flex-shrink: 0;
    width: 100%;
    height: $headerHeight;

    padding: 0 30px 0 20px;

    border-bottom: $border;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    label {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 1.2em;
    }

    input {
      flex-grow: 1;
      max-width: 300px;

      margin-left: 10px;

      border: 0;
    }
  }

  .messagge-wrapper {
    flex-grow: 1;
    width: calc(100% - 60px);
    padding: 0 30px;

    background-color: $lightGray;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    -ms-overflow-style: none;

    .message {
      max-width: 100%;

      margin: 15px 0;

      display: flex;

      .icon {
        flex-shrink: 0;
        width: 40px;
        height: 40px;

        border-radius: 100%;

        color: white;
        font-weight: 400;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      .text {
        padding: 10px;

        background-color: white;
        border: 1px solid #dadada;
      }

      .thumbnail {
        width: 100%;
        max-width: 300px;
        max-height: 300px;

        object-fit: contain;
      }
    }

    .self {
      align-self: flex-start;

      .icon {
        margin-right: 10px;
        background-color: #53b263;
      }

      .text {
        border-radius: 0 20px 20px 20px;
        text-align: left;
      }


    }

    .other {
      align-self: flex-end;

      .icon {
        margin-left: 10px;
        background-color: coral;
      }

      .text {
        order: -1;
        border-radius: 20px 0 20px 20px;
        text-align: right;
      }

    }
  }

  .footer {
    flex-shrink: 0;

    width: 100%;
    min-height: $headerHeight;

    box-sizing: border-box;
    box-shadow: 0px 5px 10px 4px #a0a0a0;

    display: flex;
    align-items: center;

    .fa-paperclip{
      margin-left: 20px;
      margin-right: 5px;

      font-size: 1.5em;

      cursor: pointer;
    }

    div {
      flex-grow: 1;
      min-height: 1em;
      max-height: 200px;

      margin: 10px;

      line-height: 1.3em;

      outline: 0;

      overflow-y: scroll;
      -ms-overflow-style: none;
    }

    button {
      flex-shrink: 0;

      height: 50px;
      width: 50px;
      margin: 10px;

      border: 0;
      border-radius: 100%;
      background-color: $blue;

      display: flex;
      align-items: center;
      justify-content: center;

      i {
        margin-right: 4px;

        color: white;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .right-wrapper {
    position: fixed;
    width: 100%;
    right: -100%;

    .header{
      .fa-times{
        font-size: 2em;
      }
    }
  }

  .left-wrapper {
    .header {
      font-size: 1.5em;

      .fa-camera{
        font-size: 1.7em;
      }

      .notification{
        position: absolute;
        top: 12px;
        right: 18px;

        width: 15px;
        height: 15px;

        background-color: #e81f1f;
        border-radius: 100%;

        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.4em;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .video-wrapper{
      .my-stream{
        max-width: 150px;
        max-height: 90px;

        left: 10px;
        bottom: 10px;
      }

      .call-button-wrapper{
        padding: 0 10px 10px 0;
      }
    }
  }

  .chat-button{
    display: block;

    margin-left: auto;

    font-size: 1.5em;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}