@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,700;1,400&family=Open+Sans:wght@300;400;600&display=swap");
body {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: flex;
}

div::-webkit-scrollbar {
  display: none;
}

[contenteditable=true]:empty::before {
  content: attr(placeholder);
}

input[type=text] {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
  outline: 0;
}

button {
  outline: 0;
}

a, a:visited {
  color: black;
}

video {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

video.reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.popup button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: none;
  border: 0;
  color: white;
  font-size: 2em;
  z-index: 3;
}
.popup video {
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: contain;
}

.chat-button {
  display: none;
}

.left-wrapper {
  flex-grow: 1;
  width: 55%;
  height: 100%;
  border-right: 1px solid #efefef;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.left-wrapper .header {
  flex-shrink: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.left-wrapper .header .notification {
  display: none;
}
.left-wrapper .video-wrapper {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: calc(68% - 70px);
  background-color: black;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
}
.left-wrapper .video-wrapper .other-stream {
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: contain;
}
.left-wrapper .video-wrapper .my-stream {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 20px;
  max-width: 260px;
  max-height: 130px;
  border: 2px solid white;
  box-sizing: border-box;
  background-color: black;
  object-fit: contain;
}
.left-wrapper .video-wrapper .call-button-wrapper {
  position: absolute;
  bottom: 0px;
  height: 80px;
  width: 100%;
  padding: 0 20px 20px 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.left-wrapper .video-wrapper .call-button-wrapper .controll-button {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  border: 0;
  border-radius: 100%;
  background-color: white;
  color: black;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-wrapper .video-wrapper .call-button-wrapper .controll-button:first-child {
  margin-left: 0;
}
.left-wrapper .video-wrapper .call-button-wrapper .controll-button:last-child {
  margin-right: 0;
}
.left-wrapper .video-wrapper .call-button-wrapper .controll-button.red {
  background-color: #e22d3d;
  color: white;
}
.left-wrapper .video-wrapper .call-button-wrapper .controll-button.green {
  background-color: forestgreen;
  color: white;
}
.left-wrapper .footer {
  width: 100%;
  height: 32%;
  background-color: #f9f9f9;
}
.left-wrapper .footer .navbar {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  display: flex;
  justify-content: space-between;
}
.left-wrapper .footer .navbar span {
  margin: auto 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
}
.left-wrapper .footer .navbar .button-wrapper {
  height: 100%;
  display: flex;
}
.left-wrapper .footer .navbar .button-wrapper button {
  width: auto;
  height: 30px;
  padding: 3px 12px;
  margin: auto 10px;
  border: 0;
  border-radius: 15px;
  background-color: #b3b3b3;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.left-wrapper .footer .navbar .button-wrapper button.selected {
  background-color: #1a2831;
}
.left-wrapper .footer .content {
  width: 100%;
  height: calc(100% - 60px);
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.left-wrapper .footer .content .box-wrapper {
  max-width: 400px;
  margin: 15px;
  padding: 20px;
  background-color: white;
  border: 1px solid #dadada;
  box-sizing: border-box;
}
.left-wrapper .footer .content .box-wrapper h1, .left-wrapper .footer .content .box-wrapper h2, .left-wrapper .footer .content .box-wrapper h3 {
  margin-top: 0;
}
.left-wrapper .footer .content .box-wrapper p {
  line-height: 1.2em;
}
.left-wrapper .footer .content .box-wrapper p b {
  font-weight: 600;
}
.left-wrapper .footer .content .box-wrapper p:last-child {
  margin-bottom: 0;
}
.left-wrapper .footer .content .box-wrapper button {
  height: 35px;
  width: 35px;
  margin-left: 7px;
  border: 0;
  border-radius: 100%;
  background: #349edc;
  color: white;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-wrapper {
  width: 45%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.right-wrapper .header {
  flex-shrink: 0;
  width: 100%;
  height: 70px;
  padding: 0 30px 0 20px;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.right-wrapper .header label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}
.right-wrapper .header input {
  flex-grow: 1;
  max-width: 300px;
  margin-left: 10px;
  border: 0;
}
.right-wrapper .messagge-wrapper {
  flex-grow: 1;
  width: calc(100% - 60px);
  padding: 0 30px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.right-wrapper .messagge-wrapper .message {
  max-width: 100%;
  margin: 15px 0;
  display: flex;
}
.right-wrapper .messagge-wrapper .message .icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-wrapper .messagge-wrapper .message .text {
  padding: 10px;
  background-color: white;
  border: 1px solid #dadada;
}
.right-wrapper .messagge-wrapper .message .thumbnail {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}
.right-wrapper .messagge-wrapper .self {
  align-self: flex-start;
}
.right-wrapper .messagge-wrapper .self .icon {
  margin-right: 10px;
  background-color: #53b263;
}
.right-wrapper .messagge-wrapper .self .text {
  border-radius: 0 20px 20px 20px;
  text-align: left;
}
.right-wrapper .messagge-wrapper .other {
  align-self: flex-end;
}
.right-wrapper .messagge-wrapper .other .icon {
  margin-left: 10px;
  background-color: coral;
}
.right-wrapper .messagge-wrapper .other .text {
  order: -1;
  border-radius: 20px 0 20px 20px;
  text-align: right;
}
.right-wrapper .footer {
  flex-shrink: 0;
  width: 100%;
  min-height: 70px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 4px #a0a0a0;
  display: flex;
  align-items: center;
}
.right-wrapper .footer .fa-paperclip {
  margin-left: 20px;
  margin-right: 5px;
  font-size: 1.5em;
  cursor: pointer;
}
.right-wrapper .footer div {
  flex-grow: 1;
  min-height: 1em;
  max-height: 200px;
  margin: 10px;
  line-height: 1.3em;
  outline: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.right-wrapper .footer button {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 0;
  border-radius: 100%;
  background-color: #349edc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-wrapper .footer button i {
  margin-right: 4px;
  color: white;
  font-size: 20px;
}

@media only screen and (max-width: 425px) {
  .right-wrapper {
    position: fixed;
    width: 100%;
    right: -100%;
  }
  .right-wrapper .header .fa-times {
    font-size: 2em;
  }

  .left-wrapper .header {
    font-size: 1.5em;
  }
  .left-wrapper .header .fa-camera {
    font-size: 1.7em;
  }
  .left-wrapper .header .notification {
    position: absolute;
    top: 12px;
    right: 18px;
    width: 15px;
    height: 15px;
    background-color: #e81f1f;
    border-radius: 100%;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.4em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left-wrapper .video-wrapper .my-stream {
    max-width: 150px;
    max-height: 90px;
    left: 10px;
    bottom: 10px;
  }
  .left-wrapper .video-wrapper .call-button-wrapper {
    padding: 0 10px 10px 0;
  }

  .chat-button {
    display: block;
    margin-left: auto;
    font-size: 1.5em;
  }
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
